<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring é vida!</title>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
 <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
 
</head>
<body>

	<div class="container">
		<div class="col s12 center" style="padding:30px;">
			<h5>Cadastro de Pessoas</h5>
		</div>
		
		<div class="row">
			<form class="col s12" action="salvarpessoa" method="post" th:object="${pessoaobj}">
				<div class="col s12">
					<input type="hidden" name="id"  th:field="*{id}" >
					<div class="input-field col s4">
						<label class="active" for="nome">Nome</label>
						<input type="text"  name="nome" id="nome"  th:field="*{nome}">
					</div>
					
					<div class="input-field col s4">
						<label class="active" for="sobrenome">Sobrenome</label>
						<input type="text" id="sobrenome"  name="sobrenome" th:field="*{sobrenome}">
					</div>
					
					<div class="input-field col s4">
						<label class="active" for="idade">idade</label>
						<input type="text" id="idade"  name="idade"  th:field="*{idade}">
					</div>
									
					<div class="col s12 center" style="padding-top:20px;">
						<input type="submit" class="waves-effect waves-light btn" style="width:100%" value="Salvar" >
					</div>
				</div>
			</form>
		</div>
		
		<div class="row" style="padding:20px;">
			<form class="col s12" action="pesquisaPessoa" method="post">
				<div class="row">
					<div class="input-field col s12">
						<label class="active" for="nomepesquisa">Pesquisa por nome</label>
						<input name="nomepesquisa" id="nomepesquisa"></input>
						<input type="submit" class="waves-effect waves-light btn" value="Buscar"></input>
						<a class="waves-effect waves-light btn" href="listapessoa">Listar todas as pessoas</a>
					</div>
				</div>
			</form>
		</div>
		
		<table class="striped centered responsive-table">
			<thead>
				<th>Cód</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
				<th>Ações</th>
			</thead>
			<tbody>
				<tr th:each = "pessoa : ${pessoas}">
					<td th:text = "${pessoa.id}"></td>
					<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text = "${pessoa.nome}"></span></a></td>
					<td th:text = "${pessoa.sobrenome}"></td>
					<td th:text = "${pessoa.idade}"></td>
					<td>
						<a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a>
						<a th:href="@{/excluirpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script type="text/javascript" src="materialize/css/materialize.min.js"></script>
	<script type="text/javascript" src="materialize/css/materialize.js"></script>
</body>
</html>